a,
a:visited {
  text-decoration: underline!important;
}

abbr {
  border-bottom: 1px dotted var(--primary);
}

article > header > h1 {
  margin-bottom: 0;
}

article > header > h2 {
  margin-bottom: 0;
}

article > footer > p {
  margin-bottom: 0;
  color: var(--muted-color);
}

article > header span {
  font-size: 60%;
  color: var(--muted-color);
  display: block;
}

@media (min-width: 1200px) {
  article > header span {
    display: inline;
  }

  article > footer ul {
    display: flex;
  }

  article > footer {
    justify-content: space-between;
  }
  article > footer ol,
  article > footer ul {
    align-items: center;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
  }
  article > footer ol:first-of-type,
  article > footer ul:first-of-type {
    margin-left: calc(var(--nav-element-spacing-horizontal) * -1);
  }
  article > footer ol:last-of-type,
  article > footer ul:last-of-type {
    margin-right: calc(var(--nav-element-spacing-horizontal) * -1);
  }
  article > footer li {
    display: inline-block;
    margin: 0;
    padding: var(--nav-element-spacing-vertical) var(--nav-element-spacing-horizontal);
  }
  article > footer li > * {
    --spacing: 0;
  }
}

@media print {
  a[href]:after {
    content: none !important;
  }

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  abbr {
    border-bottom: none!important;
  }

  html, p, li {
    font-size: 9pt!important;
  }

  span {
    font-size: 8pt!important;
  }

  section, article {
    page-break-inside: avoid;
  }

  #expectations {
    page-break-after: always;
  }

  section article::after {
    content: "⬩";
    font-size: 32pt;
    display: block;
    text-align: center;
    padding-top: calc(var(--block-spacing-vertical) / 2);
  }

  .hide-in-print {
    display: none!important;
  }
}
